<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.broadcast.mapper.BroadcastMapper">

    <select id="selectAllCategory" resultType="susussg.pengreenlive.broadcast.dto.BroadcastCategoryDTO" >
        SELECT CATEGORY_CD, CATEGORY_NM FROM TB_BROADCAST_CATEGORY
    </select>
    <insert id="insertBroadcast" parameterType="susussg.pengreenlive.broadcast.dto.BroadcastDTO" useGeneratedKeys="true" keyProperty="broadcastSeq">
        INSERT INTO TB_BROADCAST (CHANNEL_NM, BROADCAST_TITLE, BROADCAST_IMAGE, BROADCAST_SUMMARY, BROADCAST_SCHEDULED_TIME, CATEGORY_CD, BROADCAST_YN)
        VALUES (#{channelNm}, #{broadcastTitle}, #{broadcastImage}, #{broadcastSummary}, #{broadcastScheduledTime}, #{categoryCd}, 0)
    </insert>
    <insert id="insertBroadcastProduct"  parameterType="susussg.pengreenlive.broadcast.dto.BroadcastProductDTO">
        INSERT INTO TB_BROADCAST_PRODUCT (BROADCAST_SEQ, PRODUCT_SEQ, DISCOUNT_RATE, DISCOUNT_PRICE)
        VALUES (#{broadcastSeq}, #{productSeq}, #{discountRate}, #{discountPrice})
    </insert>
    <insert id="insertNotice" parameterType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        INSERT INTO TB_NOTICE (BROADCAST_SEQ, NOTICE_CONTENT) VALUES (#{broadcastSeq}, #{noticeContent})
    </insert>
    <insert id="insertBenefit" parameterType="susussg.pengreenlive.broadcast.dto.BenefitDTO">
        INSERT INTO TB_BENEFIT (BROADCAST_SEQ, BENEFIT_CONTENT) VALUES (#{broadcastSeq}, #{benefitContent})
    </insert>
    <insert id="insertFaq" parameterType="susussg.pengreenlive.broadcast.dto.FaqDTO">
        INSERT INTO TB_FAQ (BROADCAST_SEQ, QUESTION_TITLE, QUESTION_ANSWER)  VALUES (#{broadcastSeq}, #{questionTitle}, #{questionAnswer})
    </insert>

<!--    채널 판매중 상품 목록 가져오기-->
    <select id="selectChannelSalesProduct" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.ChannelSalesProductDTO">
        SELECT P.PRODUCT_SEQ, PRODUCT_CD, PRODUCT_NM, PRODUCT_IMAGE, LIST_PRICE
        FROM TB_PRODUCT P
                 LEFT JOIN TB_CHANNEL_SALES_PRODUCT C ON P.PRODUCT_SEQ = C.PRODUCT_SEQ
        WHERE VENDOR_SEQ = #{vendorId};
    </select>
    <select id="selectChannelName" parameterType="long" resultType="java.lang.String">
        SELECT CHANNEL_NM FROM TB_CHANNEL WHERE VENDOR_SEQ = #{vendorId};
    </select>

    <resultMap id="PrepareBroadcastInfoMap" type="susussg.pengreenlive.broadcast.dto.PrepareBroadcastInfoDTO">
        <id property="broadcastSeq" column="BROADCAST_SEQ"/>
        <result property="broadcastTitle" column="BROADCAST_TITLE"/>
        <result property="broadcastImage" column="BROADCAST_IMAGE"/>
        <result property="broadcastScheduledTime" column="BROADCAST_SCHEDULED_TIME"/>
        <collection property="productList" ofType="susussg.pengreenlive.broadcast.dto.LiveBroadcastProductDTO">
            <result property="productImage" column="PRODUCT_IMAGE"/>
            <result property="productSeq" column="PRODUCT_SEQ"/>
            <result property="productNm" column="PRODUCT_NM"/>
            <result property="listPrice" column="LIST_PRICE"/>
            <result property="discountRate" column="DISCOUNT_RATE"/>
        </collection>
    </resultMap>
    <select id="selectPrepareBroadcastInfo" resultMap="PrepareBroadcastInfoMap" parameterType="long">
        SELECT
            B.BROADCAST_IMAGE,
            B.BROADCAST_SEQ,
            B.BROADCAST_SCHEDULED_TIME,
            B.BROADCAST_TITLE,
            BP.PRODUCT_SEQ,
            BP.DISCOUNT_RATE,
            P.PRODUCT_NM,
            P.LIST_PRICE,
            P.PRODUCT_IMAGE
        FROM TB_BROADCAST B
        JOIN TB_BROADCAST_PRODUCT BP ON B.BROADCAST_SEQ = BP.BROADCAST_SEQ
        LEFT JOIN TB_PRODUCT P ON BP.PRODUCT_SEQ = P.PRODUCT_SEQ
        WHERE
            B.CHANNEL_NM = (SELECT CHANNEL_NM FROM TB_CHANNEL WHERE VENDOR_SEQ = #{vendorId})
            AND B.BROADCAST_YN = 0;
    </select>
    <select id="getBroadcastsByVendorAndDateRange" resultType="susussg.pengreenlive.broadcast.dto.BroadcastDTO">
        SELECT B.BROADCAST_SEQ, C.VENDOR_SEQ, B.CHANNEL_NM, B.BROADCAST_TITLE,
               B.BROADCAST_IMAGE, B.BROADCAST_SUMMARY, B.BROADCAST_SCHEDULED_TIME, B.CATEGORY_CD
        FROM TB_BROADCAST B
                 JOIN TB_CHANNEL C ON B.CHANNEL_SEQ = C.CHANNEL_SEQ
        WHERE C.VENDOR_SEQ = #{vendorSeq}
          AND B.BROADCAST_SCHEDULED_TIME BETWEEN #{startDateTime} AND #{endDateTime}
    </select>

<!--    방송, 시작 종료 시간-->
    <update id="updateBroadcastStartTime" parameterType="susussg.pengreenlive.broadcast.dto.BroadcastTimeDTO">
        UPDATE TB_BROADCAST SET BROADCAST_START_TIME = #{time}, BROADCAST_YN = 1 WHERE BROADCAST_SEQ = #{broadcastSeq};
    </update>
    <update id="updateBroadcastEndTime" parameterType="susussg.pengreenlive.broadcast.dto.BroadcastTimeDTO">
        UPDATE TB_BROADCAST SET BROADCAST_END_TIME = #{time} WHERE BROADCAST_SEQ = #{broadcastSeq};
    </update>
</mapper>
