<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.broadcast.mapper.LiveRegisterMapper">

    <insert id="insertBroadcast" parameterType="susussg.pengreenlive.broadcast.dto.BroadcastDTO">
        INSERT INTO TB_BROADCAST (CHANNEL_NM, BROADCAST_TITLE, BROADCAST_IMAGE, BROADCAST_SUMMARY, BROADCAST_SCHEDULED_TIME, CATEGORY_CD)
        VALUES (#{channelNm}, #{broadcastTitle}, #{broadcastImage}, #{broadcastSummary}, #{broadcastScheduledTime}, #{categoryCd})
    </insert>
    <insert id="insertBroadcastProduct"  parameterType="susussg.pengreenlive.broadcast.dto.BroadcastProductDTO">
        INSERT INTO TB_BROADCAST_PRODUCT (BROADCAST_SEQ, PRODUCT_SEQ, DISCOUNT_RATE, DISCOUNT_PRICE)
        VALUES (#{broadcastSeq}, #{productSeq}, #{discountRate}, #{discountPrice})
    </insert>
    <insert id="insertNotice" parameterType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        INSERT INTO TB_NOTICE (BROADCAST_SEQ, NOTICE_CONTENT) VALUES (#{broadcastSeq}, #{noticeContent})
    </insert>
    <insert id="insertBenefit" parameterType="susussg.pengreenlive.broadcast.dto.BenefitDTO">
        INSERT INTO TB_BENEFIT (BROADCAST_SEQ, BENEFIT_CONTENT) VALUES (#{broadcastSeq}, #{benefitContent})
    </insert>
    <insert id="insertFaq" parameterType="susussg.pengreenlive.broadcast.dto.FaqDTO">

    </insert>
</mapper>