<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.broadcast.mapper.LiveBroadcastMapper">

    <select id="selectBroadcast" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.BroadcastDTO">
        SELECT BROADCAST_SEQ, CHANNEL_NM, BROADCAST_TITLE, BROADCAST_IMAGE, BROADCAST_SUMMARY, BROADCAST_SCHEDULED_TIME FROM TB_BROADCAST WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectNotice" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        SELECT BROADCAST_SEQ, NOTICE_SEQ, NOTICE_CONTENT FROM TB_NOTICE WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectBenefit" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.BenefitDTO">
        SELECT BROADCAST_SEQ, BENEFIT_SEQ, BENEFIT_CONTENT FROM TB_BENEFIT WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectFaq" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.FaqDTO">
        SELECT BROADCAST_SEQ, FAQ_SEQ, QUESTION_TITLE, QUESTION_ANSWER FROM TB_FAQ WHERE BROADCAST_SEQ = #{broadcastId}
    </select>

    <select id="selectBroadcastProduct" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.LiveBroadcastProductDTO">
        SELECT P.PRODUCT_SEQ, PRODUCT_CD, PRODUCT_NM, PRODUCT_IMAGE, BRAND, LIST_PRICE, DISCOUNT_RATE, DISCOUNT_PRICE, PRODUCT_STOCK, BROADCAST_SEQ, CONVERSION_RATE,
               (SELECT GROUP_CONCAT(LABEL_IMAGE SEPARATOR ', ')
                FROM TB_PRODUCT_GREEN_LABEL PGL
                         LEFT JOIN TB_GREEN_LABEL GL ON GL.LABEL_ID_SEQ = PGL.LABEL_ID_SEQ
                WHERE PGL.PRODUCT_SEQ = P.PRODUCT_SEQ) AS LABEL_IMAGES
        FROM TB_PRODUCT P
                 LEFT JOIN TB_PRODUCT_STOCK S ON S.PRODUCT_SEQ = P.PRODUCT_SEQ
                 LEFT JOIN TB_BROADCAST_PRODUCT BP ON BP.PRODUCT_SEQ = P.PRODUCT_SEQ
        WHERE BROADCAST_SEQ = #{broadcastId}
    </select>

<!--공지-->
    <insert id="insertNotice" parameterType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        INSERT INTO TB_NOTICE (BROADCAST_SEQ, NOTICE_CONTENT) VALUES (#{broadcastSeq}, #{noticeContent})
    </insert>
    <select id="selectNoticeRecent" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        SELECT * FROM TB_NOTICE WHERE BROADCAST_SEQ = #{broadcastId} ORDER BY NOTICE_SEQ DESC LIMIT 1;
    </select>
    <delete id="deleteNotice" parameterType="long">
        DELETE FROM TB_NOTICE WHERE NOTICE_SEQ = #{noticeSeq}
    </delete>

    <!--    자주 묻는 질문과 답-->
    <insert id="insertFaq" parameterType="susussg.pengreenlive.broadcast.dto.FaqDTO">
        INSERT INTO TB_FAQ (BROADCAST_SEQ, QUESTION_TITLE, QUESTION_ANSWER) VALUES (#{broadcastSeq}, #{questionTitle}, #{questionAnswer})
    </insert>
    <select id="selectFaqRecent" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.FaqDTO">
        SELECT * FROM TB_FAQ WHERE BROADCAST_SEQ = #{broadcastId} ORDER BY FAQ_SEQ DESC LIMIT 1;
    </select>
    <delete id="deleteFaq" parameterType="long">
        DELETE FROM TB_FAQ WHERE FAQ_SEQ = #{faqSeq}
    </delete>

    <select id="selectLiveProductStats" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.LiveProductStatsDTO">
        SELECT
            ps.PRODUCT_SEQ,
            ps.PRODUCT_STOCK - IFNULL(SUM(o.ORDER_QTY), 0) AS REMAINING_STOCK,
            COUNT(o.ORDER_SEQ) AS TOTAL_ORDERS,
            IFNULL(SUM(o.ORDER_PAYED_PRICE), 0) AS TOTAL_ORDER_AMOUNT
        FROM TB_PRODUCT_STOCK ps
                 LEFT JOIN TB_ORDER o ON ps.PRODUCT_SEQ = o.PRODUCT_SEQ AND o.BROADCAST_SEQ = #{broadcastId}
        WHERE ps.PRODUCT_SEQ = #{productId}
        GROUP BY ps.PRODUCT_SEQ, ps.PRODUCT_STOCK;
    </select>
</mapper>
