<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.broadcast.mapper.LiveBroadcastMapper">

    <select id="selectBroadcast" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.BroadcastDTO">
        SELECT BROADCAST_SEQ, CHANNEL_NM, BROADCAST_TITLE, BROADCAST_IMAGE, BROADCAST_SUMMARY, BROADCAST_SCHEDULED_TIME FROM TB_BROADCAST WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectNotice" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.NoticeDTO">
        SELECT BROADCAST_SEQ, NOTICE_SEQ, NOTICE_CONTENT FROM TB_NOTICE WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectBenefit" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.BenefitDTO">
        SELECT BROADCAST_SEQ, BENEFIT_SEQ, BENEFIT_CONTENT FROM TB_BENEFIT WHERE BROADCAST_SEQ = #{broadcastId}
    </select>
    <select id="selectFaq" parameterType="long" resultType="susussg.pengreenlive.broadcast.dto.FaqDTO">
        SELECT BROADCAST_SEQ, FAQ_SEQ, QUESTION_TITLE, QUESTION_ANSWER FROM TB_FAQ WHERE BROADCAST_SEQ = #{broadcastId}
    </select>


    <resultMap id="LiveBroadcastProductMap" type="susussg.pengreenlive.broadcast.dto.LiveBroadcastProductDTO">
        <id property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productImage" column="PRODUCT_IMAGE"/>
        <result property="productCd" column="PRODUCT_CD"/>
        <result property="productNm" column="PRODUCT_NM"/>
        <result property="productStock" column="PRODUCT_STOCK"/>
        <result property="listPrice" column="LIST_PRICE"/>
        <result property="discountRate" column="DISCOUNT_RATE"/>
        <result property="discountPrice" column="DISCOUNT_PRICE"/>
    </resultMap>
    <select id="selectBroadcastProduct" parameterType="long" resultMap="LiveBroadcastProductMap">
        SELECT P.PRODUCT_SEQ, PRODUCT_CD, PRODUCT_NM, PRODUCT_IMAGE, LIST_PRICE, DISCOUNT_RATE, DISCOUNT_PRICE, PRODUCT_STOCK, BROADCAST_SEQ
        FROM TB_PRODUCT P
                 LEFT JOIN TB_PRODUCT_STOCK S ON S.PRODUCT_SEQ = P.PRODUCT_SEQ
                 LEFT JOIN TB_BROADCAST_PRODUCT BP ON BP.PRODUCT_SEQ = P.PRODUCT_SEQ
        WHERE BROADCAST_SEQ = #{broadcastId}
    </select>





</mapper>