<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.main.Mapper.MainMapper">

  <resultMap id="mainCarouselMap" type="susussg.pengreenlive.main.DTO.MainCarouselDTO">
    <id property="broadcastSeq" column="BROADCAST_SEQ"/>
    <result property="broadcastTitle" column="BROADCAST_TITLE"/>
    <result property="broadcastImage" column="BROADCAST_IMAGE"/>
    <result property="broadcastSummary" column="BROADCAST_SUMMARY"/>
    <collection property="products" ofType="susussg.pengreenlive.main.DTO.MainCarouselProductDTO">
      <result property="productImage" column="PRODUCT_IMAGE"/>
      <result property="productNm" column="PRODUCT_NM"/>
      <result property="discountPrice" column="DISCOUNT_PRICE"/>
    </collection>
  </resultMap>

  <select id="selectMainCarousels" resultMap="mainCarouselMap">
    SELECT
      b.BROADCAST_SEQ,
      b.BROADCAST_TITLE,
      b.BROADCAST_IMAGE,
      b.BROADCAST_SUMMARY,
      p.PRODUCT_IMAGE,
      p.PRODUCT_NM,
      bp.DISCOUNT_PRICE
    FROM
      TB_BROADCAST b
        LEFT JOIN
      TB_BROADCAST_PRODUCT bp ON b.BROADCAST_SEQ = bp.BROADCAST_SEQ
        LEFT JOIN
      TB_PRODUCT p ON bp.PRODUCT_SEQ = p.PRODUCT_SEQ
    ORDER BY b.BROADCAST_SEQ DESC
    LIMIT 10
  </select>

  <select id="selectScheduledBroadcasts" parameterType="map" resultType="susussg.pengreenlive.main.DTO.ScheduledBroadcastDTO">
    WITH BroadcastData AS (
    SELECT
    BC.BROADCAST_SEQ,
    BC.BROADCAST_SCHEDULED_TIME,
    BC.BROADCAST_TITLE,
    BC.BROADCAST_IMAGE,
    BC.BROADCAST_SUMMARY,
    BF.BENEFIT_CONTENT,
    BP.DISCOUNT_PRICE,
    BP.DISCOUNT_RATE,
    PD.LIST_PRICE,
    PD.PRODUCT_NM,
    PD.PRODUCT_IMAGE,
    CH.CHANNEL_IMAGE,
    CH.CHANNEL_NM,
    CH.CHANNEL_SEQ,
    ROW_NUMBER() OVER (PARTITION BY BC.BROADCAST_SEQ ORDER BY BC.BROADCAST_SCHEDULED_TIME) AS rn
    FROM
    TB_BROADCAST BC
    JOIN TB_BROADCAST_CATEGORY BCT ON BC.CATEGORY_CD = BCT.CATEGORY_CD
    LEFT JOIN TB_BENEFIT BF ON BC.BROADCAST_SEQ = BF.BROADCAST_SEQ
    JOIN (
    SELECT *,
    ROW_NUMBER() OVER (PARTITION BY BROADCAST_SEQ ORDER BY PRODUCT_SEQ) AS rn
    FROM TB_BROADCAST_PRODUCT
    ) BP ON BC.BROADCAST_SEQ = BP.BROADCAST_SEQ AND BP.rn = 1
    JOIN TB_PRODUCT PD ON BP.PRODUCT_SEQ = PD.PRODUCT_SEQ
    JOIN TB_CHANNEL CH ON BC.CHANNEL_NM = CH.CHANNEL_NM
    WHERE
    1=1
    <if test="scheduledDate != null">
      AND DATE(BC.BROADCAST_SCHEDULED_TIME) = DATE(#{scheduledDate})
    </if>
    <if test="categoryCd != null and categoryCd != ''">
      AND BCT.CATEGORY_CD LIKE #{categoryCd}
    </if>
    )
    SELECT DISTINCT
    BROADCAST_SEQ,
    BROADCAST_SCHEDULED_TIME,
    BROADCAST_TITLE,
    BROADCAST_IMAGE,
    BROADCAST_SUMMARY,
    BENEFIT_CONTENT,
    DISCOUNT_PRICE,
    DISCOUNT_RATE,
    LIST_PRICE,
    PRODUCT_NM,
    PRODUCT_IMAGE,
    CHANNEL_IMAGE,
    CHANNEL_NM,
    CHANNEL_SEQ
    FROM BroadcastData
    WHERE rn = 1
    ORDER BY BROADCAST_SCHEDULED_TIME
  </select>

  <select id="selectLiveChanceCarousels" parameterType="String" resultType="susussg.pengreenlive.main.DTO.LiveChanceCarouselDTO">
    WITH BroadcastData AS (
    SELECT
    BC.BROADCAST_SEQ,
    BC.BROADCAST_SCHEDULED_TIME,
    BC.BROADCAST_TITLE,
    BC.BROADCAST_IMAGE,
    BP.DISCOUNT_PRICE,
    BP.DISCOUNT_RATE,
    PD.PRODUCT_IMAGE,
    PD.PRODUCT_NM,
    ROW_NUMBER() OVER (PARTITION BY BC.BROADCAST_SEQ ORDER BY BC.BROADCAST_SCHEDULED_TIME) AS rn
    FROM
    TB_BROADCAST BC
    JOIN TB_BROADCAST_CATEGORY BCT ON BC.CATEGORY_CD = BCT.CATEGORY_CD
    LEFT JOIN TB_BENEFIT BF ON BC.BROADCAST_SEQ = BF.BROADCAST_SEQ
    JOIN (
    SELECT *,
    ROW_NUMBER() OVER (PARTITION BY BROADCAST_SEQ ORDER BY PRODUCT_SEQ) AS rn
    FROM TB_BROADCAST_PRODUCT
    ) BP ON BC.BROADCAST_SEQ = BP.BROADCAST_SEQ AND BP.rn = 1
    JOIN TB_PRODUCT PD ON BP.PRODUCT_SEQ = PD.PRODUCT_SEQ
    WHERE
    BC.BROADCAST_YN LIKE '1'
    <if test="categoryCd != null and categoryCd != ''">
      AND BCT.CATEGORY_CD LIKE #{categoryCd}
    </if>
    )
    SELECT DISTINCT
    BROADCAST_SEQ,
    BROADCAST_SCHEDULED_TIME,
    BROADCAST_TITLE,
    BROADCAST_IMAGE,
    DISCOUNT_PRICE,
    DISCOUNT_RATE,
    PRODUCT_IMAGE,
    PRODUCT_NM
    FROM BroadcastData
    WHERE rn = 1
    ORDER BY BROADCAST_SCHEDULED_TIME
  </select>

  <select id="checkNotificationChannelExists" parameterType="map" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM TB_NOTIFICATION_CHANNEL
    WHERE USER_UUID = UUID_TO_BIN(#{userUuid})
      AND CHANNEL_SEQ = #{channelSeq}
  </select>

  <insert id="insertNotificationChannel" parameterType="map">
    INSERT INTO TB_NOTIFICATION_CHANNEL (USER_UUID, CHANNEL_SEQ)
    VALUES (UUID_TO_BIN(#{userUuid}), #{channelSeq})
  </insert>

  <delete id="deleteNotificationChannel" parameterType="map">
    DELETE FROM TB_NOTIFICATION_CHANNEL
    WHERE USER_UUID = UUID_TO_BIN(#{userUuid})
      AND CHANNEL_SEQ = #{channelSeq}
  </delete>

  <select id="selectSubscribedChannels" parameterType="String" resultType="susussg.pengreenlive.main.DTO.SubscribedChannelDTO">
    SELECT
      CH.CHANNEL_SEQ,
      CH.CHANNEL_NM,
      CH.CHANNEL_URL,
      CH.CHANNEL_IMAGE,
      CH.CHANNEL_INFO
    FROM
      TB_NOTIFICATION_CHANNEL NC
        JOIN
      TB_CHANNEL CH ON NC.CHANNEL_SEQ = CH.CHANNEL_SEQ
    WHERE
      NC.USER_UUID = UUID_TO_BIN(#{userUuid})
  </select>

</mapper>
