<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.broadcast.mapper.ProductReviewMapper">
  <select id="getReviewsByProductSeq" resultType="susussg.pengreenlive.broadcast.dto.ProductReviewDTO">

    SELECT R.REVIEW_CONTENT, R.REVIEW_TIME, U.USER_NM
    FROM TB_REVIEW R
           JOIN TB_USER U ON R.USER_UUID = U.USER_UUID
    WHERE R.PRODUCT_SEQ = #{productSeq}

  </select>

</mapper>
