<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="susussg.pengreenlive.statistics.mapper.ProductStatisticsMapper">

    <resultMap id="ProductDetailsMap" type="susussg.pengreenlive.statistics.dto.ProductDetailsDTO">
        <id property="productCd" column="PRODUCT_CD"/>
        <result property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productNm" column="PRODUCT_NM"/>
        <result property="greenProductId" column="GREEN_PRODUCT_ID"/>
        <result property="listPrice" column="LIST_PRICE"/>
        <result property="brand" column="BRAND"/>
        <result property="productImage" column="PRODUCT_IMAGE"/>
        <result property="categoryNm" column="CATEGORY_NM"/>
        <collection property="labels" ofType="susussg.pengreenlive.statistics.dto.LabelInfo">
            <result property="labelImage" column="LABEL_IMAGE"/>
            <result property="certificationReason" column="CERTIFICATION_REASON"/>
        </collection>
    </resultMap>

    <!-- 특정 채널의 판매 상품 중 누적 주문 금액이 가장 높은 10개를 가져오는 쿼리 -->
    <select id="findTop10ProductsByChannel" parameterType="long" resultType="susussg.pengreenlive.statistics.dto.ProductInChannelDTO">
        SELECT
            P.PRODUCT_NM,
            P.PRODUCT_CD,
            SUM(O.ORDER_PAYED_PRICE) AS TOTAL_SALES
        FROM
            TB_ORDER O
                JOIN
            TB_PRODUCT P ON O.PRODUCT_SEQ = P.PRODUCT_SEQ
                JOIN
            TB_CHANNEL_SALES_PRODUCT CSP ON P.PRODUCT_SEQ = CSP.PRODUCT_SEQ
        WHERE
            CSP.CHANNEL_SEQ = #{channelSeq}
        GROUP BY
            P.PRODUCT_NM, P.PRODUCT_CD
        ORDER BY
            TOTAL_SALES DESC
        LIMIT 10
    </select>

    <!-- 채널에서 파는 모든 상품의 이름과 상품 코드, 누적 매출액 리스트를 가져오는 쿼리 -->
    <select id="findAllProductsByChannelWithSales" parameterType="long"  resultType="susussg.pengreenlive.statistics.dto.ProductInChannelDTO">
        SELECT
            P.PRODUCT_NM,
            P.PRODUCT_CD,
            P.PRODUCT_SEQ,
            IFNULL(SUM(O.ORDER_PAYED_PRICE), 0) AS TOTAL_SALES
        FROM
            TB_PRODUCT P
                LEFT JOIN
            TB_ORDER O ON P.PRODUCT_SEQ = O.PRODUCT_SEQ
                JOIN
            TB_CHANNEL_SALES_PRODUCT CSP ON P.PRODUCT_SEQ = CSP.PRODUCT_SEQ
        WHERE
            CSP.CHANNEL_SEQ = #{channelSeq}
        GROUP BY
            P.PRODUCT_NM, P.PRODUCT_CD, P.PRODUCT_SEQ
        ORDER BY
            TOTAL_SALES DESC
    </select>

    <!-- 특정 채널의 누적 거래액, 누적 판매 건수, 누적 평균 단가, 평균 구매자 수, 평균 판매 수량을 조회하는 쿼리 -->
    <select id="findTotalSalesOrdersAvgPriceAvgBuyersAndAvgQuantityByChannel" parameterType="long" resultType="susussg.pengreenlive.statistics.dto.SalesDataDTO">
        SELECT
            IFNULL(SUM(O.ORDER_PAYED_PRICE), 0) AS totalSales,
            COUNT(O.ORDER_SEQ) AS totalOrders,
            CASE
                WHEN COUNT(O.ORDER_SEQ) = 0 THEN 0
                ELSE IFNULL(SUM(O.ORDER_PAYED_PRICE) / COUNT(O.ORDER_SEQ), 0)
                END AS avgUnitPrice,
            CASE
                WHEN COUNT(DISTINCT O.PRODUCT_SEQ) = 0 THEN 0
                ELSE COUNT(O.ORDER_SEQ) / COUNT(DISTINCT O.PRODUCT_SEQ)
                END AS avgBuyersPerProduct,
            CASE
                WHEN COUNT(DISTINCT O.PRODUCT_SEQ) = 0 THEN 0
                ELSE SUM(O.ORDER_QTY) / COUNT(DISTINCT O.PRODUCT_SEQ)
                END AS avgQuantityPerProduct
        FROM
            TB_ORDER O
                JOIN
            TB_CHANNEL_SALES_PRODUCT CSP ON O.PRODUCT_SEQ = CSP.PRODUCT_SEQ
        WHERE
            CSP.CHANNEL_SEQ = #{channelSeq}
    </select>

    <select id="findProductDetailsByProductCd" parameterType="string" resultMap="ProductDetailsMap">
        SELECT
            P.PRODUCT_SEQ,
            P.PRODUCT_CD,
            P.PRODUCT_NM,
            P.GREEN_PRODUCT_ID,
            P.LIST_PRICE,
            P.BRAND,
            P.PRODUCT_IMAGE,
            C.CATEGORY_NM,
            L.LABEL_IMAGE,
            PL.CERTIFICATION_REASON
        FROM
            TB_PRODUCT P
                JOIN
            TB_PRODUCT_CATEGORY C ON P.CATEGORY_CD = C.CATEGORY_CD
                LEFT JOIN
            TB_PRODUCT_GREEN_LABEL PL ON P.PRODUCT_SEQ = PL.PRODUCT_SEQ
                LEFT JOIN
            TB_GREEN_LABEL L ON PL.LABEL_ID_SEQ = L.LABEL_ID_SEQ
        WHERE
            P.PRODUCT_CD = #{productCd}
    </select>

</mapper>
