<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.dashboard.Mapper.ProductMapper">

  <select id="findAllProducts" resultType="susussg.pengreenlive.dashboard.DTO.ProductDTO">
    SELECT
      p.PRODUCT_SEQ,
      p.PRODUCT_CD,
      p.GREEN_PRODUCT_ID,
      p.PRODUCT_NM,
      p.LIST_PRICE,
      p.brand,
      p.PRODUCT_IMAGE,
      p.CATEGORY_CD,
      s.PRODUCT_STOCK
    FROM
      TB_PRODUCT p
        LEFT JOIN TB_PRODUCT_STOCK s ON p.PRODUCT_SEQ = s.PRODUCT_SEQ
  </select>

  <insert id="insertProduct" parameterType="susussg.pengreenlive.dashboard.DTO.ProductDTO">
    INSERT INTO TB_PRODUCT (PRODUCT_SEQ, PRODUCT_CD, GREEN_PRODUCT_ID, PRODUCT_NM, LIST_PRICE, BRAND, PRODUCT_IMAGE, CATEGORY_CD)
    VALUES (#{productSeq},#{productCd}, #{greenProductId}, #{productNm}, #{listPrice}, #{brand}, #{productImage}, #{categoryCd});
  </insert>

  <insert id="insertProductStock" parameterType="susussg.pengreenlive.dashboard.DTO.ProductDTO">
    INSERT INTO TB_PRODUCT_STOCK (PRODUCT_SEQ, PRODUCT_STOCK)
    VALUES (#{productSeq}, #{productStock});
  </insert>

  <select id="selectAllCategoryCodes" resultType="susussg.pengreenlive.dashboard.DTO.ProductDTO">
    SELECT CATEGORY_CD
    FROM TB_PRODUCT_CATEGORY
  </select>


</mapper>
