<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.order.mapper.ReviewMapper">

  <select id="findOrdersByUser" resultType="susussg.pengreenlive.order.dto.ReviewDTO">
    SELECT
      o.ORDER_DATE,
      o.ORDER_PRODUCT_PRICE,
      o.ORDER_PAYED_PRICE,
      o.DELIVERY_STATUS,
      o.REVIEW_YN,
      p.PRODUCT_NM,
      p.PRODUCT_IMAGE
    FROM
      TB_ORDER o
        JOIN
      TB_PRODUCT p ON o.PRODUCT_SEQ = p.PRODUCT_SEQ
    WHERE
      o.USER_UUID = #{userUuid}
  </select>

</mapper>
