<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.order.mapper.ReviewMapper">

  <select id="findOrdersByUser" resultType="susussg.pengreenlive.order.dto.ReviewDTO">
    SELECT
      o.ORDER_DATE,
      o.ORDER_PRODUCT_PRICE,
      o.ORDER_PAYED_PRICE,
      o.DELIVERY_STATUS,
      o.REVIEW_YN,
      p.PRODUCT_NM,
      p.PRODUCT_IMAGE
    FROM
      TB_ORDER o
        JOIN
      TB_PRODUCT p ON o.PRODUCT_SEQ = p.PRODUCT_SEQ
    WHERE
      o.USER_UUID = UUID_TO_BIN(#{userUuid})
  </select>

  <select id="findUnreviewedOrdersByUser" resultType="susussg.pengreenlive.order.dto.ReviewDTO">
    SELECT
      o.ORDER_DATE,
      o.ORDER_PRODUCT_PRICE,
      o.ORDER_PAYED_PRICE,
      o.DELIVERY_STATUS,
      o.REVIEW_YN,
      p.PRODUCT_NM,
      p.PRODUCT_IMAGE
    FROM
      TB_ORDER o
        JOIN
      TB_PRODUCT p ON o.PRODUCT_SEQ = p.PRODUCT_SEQ
    WHERE
      o.USER_UUID = UUID_TO_BIN(#{userUuid}) AND o.REVIEW_YN = 0
  </select>

  <select id="findReviewedOrdersByUser" resultType="susussg.pengreenlive.order.dto.ReviewDTO">
    SELECT
      o.ORDER_DATE,
      o.ORDER_PRODUCT_PRICE,
      o.ORDER_PAYED_PRICE,
      o.DELIVERY_STATUS,
      o.REVIEW_YN,
      p.PRODUCT_NM,
      p.PRODUCT_IMAGE,
      r.REVIEW_CONTENT,
      r.REVIEW_TIME
    FROM
      TB_ORDER o
        JOIN TB_PRODUCT p ON o.PRODUCT_SEQ = p.PRODUCT_SEQ
        LEFT JOIN TB_REVIEW r ON o.PRODUCT_SEQ = r.PRODUCT_SEQ AND o.USER_UUID = r.USER_UUID
    WHERE
      o.USER_UUID = UUID_TO_BIN(#{userUuid}) AND o.REVIEW_YN = 1
  </select>

  <insert id="insertReview" parameterType="susussg.pengreenlive.order.dto.ReviewDTO">
    INSERT INTO TB_REVIEW (PRODUCT_SEQ, REVIEW_CONTENT, REVIEW_TIME, USER_UUID)
    VALUES (#{productSeq}, #{reviewContent}, #{reviewTime}, UUID_TO_BIN(#{userUuid}));
  </insert>

</mapper>
