<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.naver.mapper.ReviewSummaryMapper">

  <select id="getReviewContentsByProductSeq" resultType="String">
      SELECT REVIEW_CONTENT
      FROM TB_REVIEW
      WHERE PRODUCT_SEQ = #{productSeq}
  </select>

  <select id="getReviewContentsByProductSeqAndDate" resultType="map">
    SELECT DATE(REVIEW_TIME) as reviewDate, GROUP_CONCAT(REVIEW_CONTENT SEPARATOR ' ') as combinedContent
    FROM TB_REVIEW
    WHERE PRODUCT_SEQ = #{productSeq}
      AND REVIEW_TIME >= DATE_SUB(NOW(), INTERVAL 7 DAY)
    GROUP BY DATE(REVIEW_TIME)
  </select>


</mapper>
