<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.user.Mapper.UserMapper">

  <select id="selectUserNmByUUID" parameterType="String" resultType="String">
    SELECT USER_NM FROM susussg.TB_USER WHERE USER_UUID like #{uuid}
  </select>

  <select id="selectChannelNmByVendorSeq" parameterType="int" resultType="String">
    SELECT CHANNEL_NM FROM susussg.TB_CHANNEL WHERE VENDOR_SEQ like #{vendorSeq}
  </select>

  <insert id="insertUser" parameterType="susussg.pengreenlive.user.dto.SignupFormDTO" useGeneratedKeys="true" keyProperty="userUuid">
    INSERT INTO TB_USER (USER_UUID, USER_NM, USER_GENDER, USER_BIRTH_DT, USER_TEL, USER_EMAIL, USER_ADDRESS, OPTIONAL_AGREEMENT_YN)
    VALUES (UUID_TO_BIN(UUID()), #{userNm}, #{userGender}, #{userBirthDt}, #{userTel}, #{userEmail}, #{userAddress}, #{optionalAgreementYn});

    <selectKey keyProperty="userUuid" resultType="String" order="AFTER">
      SELECT BIN_TO_UUID(USER_UUID) FROM TB_USER WHERE USER_EMAIL = #{userEmail} AND USER_TEL = #{userTel} ORDER BY CREATE_ACCOUNT_DT DESC LIMIT 1;
    </selectKey>
  </insert>

  <insert id="insertLocalLogin" parameterType="susussg.pengreenlive.user.dto.SignupFormDTO">
    INSERT INTO TB_LOCAL_LOGIN (USER_UUID, USER_ID, USER_PW)
    VALUES (UUID_TO_BIN(#{userUuid}), #{userId}, #{userPw})
  </insert>

  <select id="selectByUserId" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM TB_LOCAL_LOGIN WHERE USER_ID=#{userId}
  </select>

  <select id="selectUserInfoByUserId" parameterType="String" resultType="susussg.pengreenlive.login.dto.UserDTO">
    SELECT BIN_TO_UUID(u.USER_UUID), u.USER_NM, u.USER_GENDER, u.USER_BIRTH_DT, u.USER_TEL, u.USER_EMAIL, u.USER_ADDRESS,
           u.ACCOUNT_ACTIVE, u.OPTIONAL_AGREEMENT_YN,u.ROLE, ll.USER_ID, ll.USER_PW
    FROM TB_USER u JOIN TB_LOCAL_LOGIN ll ON u.USER_UUID=ll.USER_UUID
    WHERE ll.USER_ID=#{USER_ID} AND u.ACCOUNT_ACTIVE = true
  </select>
</mapper>
