<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="susussg.pengreenlive.vendor.mapper.VendorMapper">
  <select id="selectVendorInfoByBusinessId" parameterType="String" resultType="susussg.pengreenlive.login.dto.VendorDTO">
    SELECT *
    FROM TB_VENDOR
    WHERE TB_VENDOR.BUSINESS_ID=#{businessId}
  </select>
</mapper>
